body {
    background-color:#970c0c;
    color:#00011c;
    font-family: 'Dancing Script', cursive;
    font-size:20px;
}
button {
    align-items:center;
    background-color:#970c0c;
    color:#00011c;
    font-family: 'Dancing Script', cursive;
    font-size:15px;
    border-color:#00011c;
}