body {
    background-color:limegreen;
    color:maroon;
    font-family: 'Sansita Swashed', cursive;
}
button {
    align-items:center;
    background-color:limegreen;
    color:maroon;
    font-family: 'Sansita Swashed', cursive;
}
img {
    align-items:center;
    height:664px;
    width:664px;
}
