body {
    background-color:green;
    color:maroon;
    font-family: 'Dancing Script', cursive;
}
button {
    align-items:center;
    background-color:green;
    color:maroon;
    font-family: 'Dancing Script', cursive;
}
img {
    align-items:center;
    height:664px;
    width:664px;
}